{% extends  'main.html' %}

{% block ask %}

<div class="row-fluid">
<div class="span10">

<div style="padding-left:17%;"><h2>New Question</h2></div>

<div class="row-fluid">

        <div class="span2">
        <div align="center"><h2>Title</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <input style="background-color:#E8E8E8" class="span10" type="text" placeholder="Enter title...">
        </div>

</div>

<div class="row-fluid">
        <div class="span2">
        <div align="center"><h2>Text</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <textarea style="background-color:#E8E8E8" class="span10" id="redex" rows="10" placeholder="Enter your text..."></textarea>
        </div>
</div>

<div class="row-fluid">
        <div class="span2">
        <div align="center"><h2>Tags</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <input style="background-color:#E8E8E8" class="span10" type="text" placeholder="Enter tags...">
        </div>
</div>

<div style="padding-left:17%; padding-top:20px"><button class="btn btn-large btn-inverse" type="button">Ask!</button></div>


<div class="row-fluid">
    <div class="span12">
        <div class="pagination" style="padding-left:17%">
          <ul>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Prev</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">1</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">2</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">3</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">4</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Next</a></li>
          </ul>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
