{% extends  'main.html' %}

{% block asks %}

<div class="row-fluid">
<div class="span10">

<div class="row-fluid">

        <div class="span2 pull-center">
            <table align="center">
                <tr>
                    <td colspan="2">
                        <img src="ico/1.png" class="img-rounded">
                    </td>
                </tr>
                <tr><td><p></p></td></tr>
                <tr>
                    <td colspan="2"><div align="center" style="color:#006400"><b>+35</b></div></td>
                </tr>
                <tr>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
                </tr>
            </table>
        </div>

        <div class="span8">
        <div class="well" style="background-color:#CFCFCF">

            <form class="form-horizontal">
            <p style="padding-top:10px"></p>
            <a class="lead" href="#"><b>How to do something?</b></a>
            </form>

            <form class="form-horizontal">
            <blockquote><p>I have a problem. I do not know what to do...</p>
            <small>Who send</small></blockquote>
            </form>

            <form class="form-horizontal">
            <p style="padding-top:10px"></p>
            <a class="pull-left" href="#">Answers (2)</a>
            <a class="pull-right" href="#"><span style="padding-right:7px;">what to do</span></a>
            <a class="pull-right" href="#"><span style="padding-right:7px;">problems</span></a>
            <div class="pull-right"><span style="padding-right:12px;">Tags:</span></div>
            </form>

        </div>
        </div>

</div>


<p style="padding-top:30px"></p>
<div class="row-fluid">


        <div class="span8 offset1">
        <div class="well" style="background-color:#CFCFCF">

            <form class="form-horizontal">
            <blockquote><p>It's very easy. First you must...</p>
            <small>Who send</small></blockquote>
            </form>

            <div class="well well-small pull-right" style="background-color:#9BCD9B" ><i class="icon-check"></i>Corrected!</div>
            <p style="padding-bottom:17px"></p>

        </div>
        </div>

        <div class="span1">
            <table align="center">
                <tr>
                    <td colspan="2">
                        <img src="ico/3.png" class="img-rounded">
                    </td>
                </tr>
                <tr><td><p></p></td></tr>
                <tr>
                    <td colspan="2"><div align="center" style="color:#006400"><b>+5</b></div></td>
                </tr>
                <tr>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
                </tr>
            </table>
        </div>

</div>

<p style="padding-top:10px"></p>
<div class="row-fluid">


        <div class="span8 offset1">
        <div class="well" style="background-color:#CFCFCF">

            <form class="form-horizontal">
            <blockquote><p>It's very easy. First you must...</p>
            <small>Who send</small></blockquote>
            </form>

            <div class="well well-small pull-right" style="background-color:#9BCD9B" ><i class="icon-check"></i>Corrected!</div>
            <p style="padding-bottom:17px"></p>

        </div>
        </div>

        <div class="span1">
            <table align="center">
                <tr>
                    <td colspan="2">
                        <img src="ico/3.png" class="img-rounded">
                    </td>
                </tr>
                <tr><td><p></p></td></tr>
                <tr>
                    <td colspan="2"><div align="center" style="color:#8B0000"><b>-1</b></div></td>
                </tr>
                <tr>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
                    <td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
                </tr>
            </table>
        </div>

</div>


<p style="padding-top:20px"></p>
<div class="row-fluid">

        <div class="span9 offset1">
        <textarea style="background-color:#E8E8E8" class="span12" id="redex" rows="5" placeholder="Enter your answer here..."></textarea>
        <div align="right"><button class="btn btn-large btn-inverse" type="button">Answer!</button></div>
        </div>

</div>

<div class="row-fluid">
    <div class="span12">
        <div class="pagination" style="padding-left:17%">
          <ul>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Prev</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">1</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">2</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">3</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">4</a></li>
            <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Next</a></li>
          </ul>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}