{% extends  'main.html' %}

{% block index %}

<div class="row-fluid">
<div class="span10">

<ul class="nav nav-tabs" style="padding-left:17%">
<li></li>
	<li class="active"><a style="background-color:#CFCFCF" href="#">New</a></li>
	<li><a style="background-color:#CFCFCF" href="#">Popular</a></li>
	<li><a style="background-color:#CFCFCF" href="#">My questions (+1)</a></li>
</ul>


<div class="row-fluid">

		<div class="span2 pull-center">
			<table align="center">
				<tr>
					<td colspan="2">
						<img src="bootstrap/ico/1.png" class="img-rounded">
					</td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>					
					<td colspan="2"><div align="center" style="color:#006400"><b>+35</b></div></td>
				</tr>
				<tr>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
				</tr>
			</table>
      	</div>

      	<div class="span8">
      	<div class="well" style="background-color:#CFCFCF">

	     	<form class="form-horizontal">      	
	     	<p style="padding-top:10px"></p>
	      	<a class="lead" href="#"><b>How to do something?</b></a>
	     	</form>

	        <form class="form-horizontal">
	        <blockquote><p>I have a problem. I do not know what to do...</p>
	        <small>Who send</small></blockquote>
	      	</form>

	        <form class="form-horizontal">
	        <p style="padding-top:10px"></p>
	        <a class="pull-left" href="#">Answers (3)</a>	        
	        <a class="pull-right" href="#"><span style="padding-right:7px;">what to do</span></a>
	        <a class="pull-right" href="#"><span style="padding-right:7px;">problems</span></a>
	        <div class="pull-right"><span style="padding-right:12px;">Tags:</span></div>
	      	</form>

	    </div>
      	</div>

</div>


<p style="padding-top:20px"></p>
<div class="row-fluid">

		<div class="span2 pull-center">
			<table align="center">
				<tr>
					<td colspan="2">
						<img src="bootstrap/ico/1.png" class="img-rounded">
					</td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>					
					<td colspan="2"><div align="center" style="color:#006400"><b>+11</b></div></td>
				</tr>
				<tr>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
				</tr>
			</table>
      	</div>

      	<div class="span8">
      	<div class="well" style="background-color:#CFCFCF">

	     	<form class="form-horizontal">      	
	     	<p style="padding-top:10px"></p>
	      	<a class="lead" href="#"><b>How to do something?</b></a>
	     	</form>

	        <form class="form-horizontal">
	        <blockquote><p>I have a problem. I do not know what to do...</p>
	        <small>Who send</small></blockquote>
	      	</form>

	        <form class="form-horizontal">
	        <p style="padding-top:10px"></p>
	        <a class="pull-left" href="#">Answers (3)</a>	        
	        <a class="pull-right" href="#"><span style="padding-right:7px;">what to do</span></a>
	        <a class="pull-right" href="#"><span style="padding-right:7px;">problems</span></a>
	        <div class="pull-right"><span style="padding-right:12px;">Tags:</span></div>
	      	</form>

	    </div>
      	</div>

</div>


<p style="padding-top:20px"></p>
<div class="row-fluid">

		<div class="span2 pull-center">
			<table align="center">
				<tr>
					<td colspan="2">
						<img src="bootstrap/ico/1.png" class="img-rounded">
					</td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>					
					<td colspan="2"><div align="center" style="color:#8B0000"><b>-5</b></div></td>
				</tr>
				<tr>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-down icon-white"></i></a></div></td>
					<td><div align="center"><a class="btn btn-mini btn-inverse" href="#"><i class="icon-chevron-up icon-white"></i></a></div></td>
				</tr>
			</table>
      	</div>

      	<div class="span8">
      	<div class="well" style="background-color:#CFCFCF">

	     	<form class="form-horizontal">      	
	     	<p style="padding-top:10px"></p>
	      	<a class="lead" href="#"><b>How to do something?</b></a>
	     	</form>

	        <form class="form-horizontal">
	        <blockquote><p>I have a problem. I do not know what to do...</p>
	        <small>Who send</small></blockquote>
	      	</form>

	        <form class="form-horizontal">
	        <p style="padding-top:10px"></p>
	        <a class="pull-left" href="#">Answers (3)</a>	        
	        <a class="pull-right" href="#"><span style="padding-right:7px;">what to do</span></a>
	        <a class="pull-right" href="#"><span style="padding-right:7px;">problems</span></a>
	        <div class="pull-right"><span style="padding-right:12px;">Tags:</span></div>
	      	</form>

	    </div>
      	</div>

</div>

<div class="row-fluid">
	<div class="span12">
		<div class="pagination" style="padding-left:17%">
		  <ul>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Prev</a></li>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">1</a></li>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">2</a></li>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">3</a></li>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">4</a></li>
		    <li><a style="color:#1C1C1C;background-color:#CFCFCF" href="#">Next</a></li>
		  </ul>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}