<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Ask Site - Ask me!</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<!--     <link href="Font-Awesome/css/font-awesome.css" rel="stylesheet" media="screen"> -->
  </head>
  <body style="background-color:#A9A9A9">
    <!-- Bootstrap -->
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>


    <div class="container-fluid">
    <div class="navbar navbar-inverse">
  	<div class="navbar-inner">

    	<a style="padding-right:50px" class="brand" href="#"><h1>Ask me!</h1></a>

    	<form class="navbar-search" style="padding-top:20px">
  		<input type="text" class="search-query" placeholder="Search">
		</form>

    	<ul class="nav pull-right">
    	<li><img style="padding:15px 30px 10px 30px" src="/bootstrap/ico/3.png" class="img-rounded"></li>
    	<li>
	    	<table>
	    		<tr>
	    			<td colspan="2">
	    				<a href="#"><div align="center"><h3 style="color:#9C9C9C"><b>User@name</b></h3></div></a>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td>
	    				<a href="#"><div align="center" style="color:#9C9C9C"><b>Settings</b></div></a>
	    			</td>
	    			<td>
	    				<a href="#"><div align="center" style="color:#9C9C9C"><b>Log out</b></div></a>
	    			</td>
	    		</tr>
	    	</table>
     	</li>
   		</ul>

  	</div>
	</div>

	<!-- Here -->
	{% block index %}{% endblock %}
    {% block ask %}{% endblock %}
    {% block asks %}{% endblock %}
    {% block profile %}{% endblock %}

	<div class="span2">

	<p style="padding-top:20%"></p>
	<h3>Popular Tags</h3>
	<h4><a href="#">Bootstrap</a></h4>
	<h1><a href="#">HTML</a></h1>
	<h3><a href="#">CSS</a></h3>
	<h2><a href="#">Django</a></h2>

	<p style="padding-top:20%"></p>
	<h3>Best Members</h3>
	<ul>
		<li><h4><a href="#">User 1</a></h4></li>
		<li><h4><a href="#">User 2</a></h4></li>
		<li><h4><a href="#">User 3</a></h4></li>
		<li><h4><a href="#">User 4</a></h4></li>
	</ul>
 	</div>

    </div>
    </div>
  </body>
</html>
