{% extends  'main.html' %}

{% block profile %}

<div class="row-fluid">
<div class="span10">

<div style="padding-bottom:20px;"><h3>Settings: <a href="#"><b>User@name</b></a></h3></div>


<div class="row-fluid">

        <div class="span2 offset2">
        <div align="center"><h2>Login</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <input style="background-color:#E8E8E8" class="span6" type="text" placeholder="Robot111">
        </div>

</div>

<div class="row-fluid">

        <div class="span2 offset2">
        <div align="center"><h2>E-mail</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <input style="background-color:#E8E8E8" class="span6" type="text" placeholder="e-mail@mail.ru">
        </div>

</div>

<div class="row-fluid">

        <div class="span2 offset2">
        <div align="center"><h2>Name</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">
        <input style="background-color:#E8E8E8" class="span6" type="text" placeholder="Dr. House">
        </div>

</div>

<div class="row-fluid">

        <div class="span2 offset2">
        <div align="center"><h2>Avatar</h2></div>
        </div>

        <div class="span8" style="padding-top:15px">

        <table class="span6">
            <tr>
                <td rowspan="2" align="center" class="span3">
                    <img src="ico/1.png" class="img-rounded">
                </td>
                <td align="center" class="span3">
                    <input style="background-color:#E8E8E8" class="span12" type="text">
                </td>
            </tr>
            <tr>
                <td align="center" class="span3">
                    <button class="btn btn-inverse" type="button">Choose</button>
                </td>
            </tr>
        </table>
        </div>

        <div class="row-fluid">
        <div class="span1 offset4" style="padding-top:30px"><button class="btn btn-large btn-inverse" type="button">Send!</button>
        </div>
        </div>
</div>
</div>
</div>

{% endblock %}
