{% extends  'base.html' %}

{% block log_in %}

    <header class="page-header">
    <h1 class="page-title">Log In</h1>
    </header>

	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">Log in to your account</h3>
				<hr>

				<form action="/log_in/" method="post">
                    {% csrf_token %}
                    {% if login_error %}
                        <span class="badge alert-danger">{{ login_error }} Please, try again.</span>
                    {% endif %}
					<div class="top-margin">
						<label>Nickname<span class="text-danger">*</span></label>
						<input name="username" id="username" type="text" class="form-control">
					</div>
					<div class="top-margin">
						<label>Password <span class="text-danger">*</span></label>
						<input name="password" id="password" type="password" class="form-control">
					</div>
					<hr>
					<div class="row">
						<div class="col-lg-12 text-right">
							<button class="btn btn-action" type="submit">Sign in!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
			