{% extends  'base.html' %}

{% block profile %}

	<header class="page-header">
		<h1 class="page-title">Settings</h1>
	</header>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">You can change you settings</h3>
				<hr>

				<form action="/profile/{{ user_other.id }}/change/" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                    <div class="row" align="center">
						<label title="Your rating"><img src="/bootstrap/images/icons/32/778.png"> {{ user_other.rating }}</label>
					</div>
                    <div class="top-margin">
					    <label>Login</label>
					    <input readonly value="{{ user_base.username }}" type="text" class="form-control">
					</div>
					<div class="top-margin">
						<label>E-mail</label>
						<input id="id_email" name="email" value="{{ user_base.email }}" type="text" class="form-control">
					</div>
                    <div class="top-margin">
					    <label>Nickname</label>
					    <input id="id_first_name" name="first_name" value="{{ user_base.first_name }}" type="text" class="form-control" placeholder="Set nickname...">
					</div>
					<div class="top-margin">
						<div class="row">
							<div class="col-lg-4">
                                {% if user_other.avatar %}
								    <img src="/{{ user_other.avatar.url }}" style="padding-bottom:10px">
                                {% else %}
                                    <img src="/bootstrap/images/icons/64/228.png" style="padding-bottom:10px">
                                {% endif %}
							</div>
							<div class="col-lg-8 text-right">
                                   <input id="id_avatar" name="avatar" type="file">
                            </div>
                        </div>
					</div>

					<hr>
					<div class="row">
						<div class="col-lg-12 text-right">
							<button class="btn btn-action" type="submit">Save!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}