{% extends  'base.html' %}

{% block register %}

	<header class="page-header">
		<h1 class="page-title">Registration</h1>
	</header>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center">Register a new account</h3>
				<hr>

				<form action="/register/" method="post">
                    {% csrf_token %}
                    {% if register_error %}
                        <span class="badge alert-danger">{{ register_error }}</span>
                    {% endif %}
					<div class="top-margin">
						<label>Login <span class="text-danger">*</span></label>
						<input id="id_username" maxlength="30" name="username" type="text" class="form-control">
					</div>

					<div class="row top-margin">
						<div class="col-sm-6">
							<label>Password <span class="text-danger">*</span></label>
							<input id="id_password1" name="password1" type="password" class="form-control">
						</div>
						<div class="col-sm-6">
							<label>Confirm Password <span class="text-danger">*</span></label>
							<input id="id_password2" name="password2" type="password" class="form-control">
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-lg-12 text-right">
							<button class="btn btn-action" type="submit">Register!</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
					
{% endblock %}			