{% extends  'base.html' %}

{% block ask %}

	<!-- Question -->
	<div class="row">
        <div class="col-sm-2">
            <div align="center"><img src="/bootstrap/images/icons/64/902.png"></div>
            <a href="/ask/add_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/994.png"></div></a>
            <div align="center"><b>{{question.rating}}</b></div>
            <a href="/ask/rm_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/995.png"></div></a>
        </div>

        <div class="col-sm-10">
            <div>
                <h3 style="margin-top:10px">{{question.title}}</h3>
            </div>
            <p style="padding:5px">{{question.description}}</p>

            <footer>
                <div class="meta">
                    <h6><b><ins>{{ question.user }}</ins></b>
                    <img src="/bootstrap/images/icons/16/243.png" style="padding-left:10px">
                    {{ question.create_date }}
                   <img src="/bootstrap/images/icons/16/535.png" style="padding-left:10px">Tags:
                        <a href="">tag</a>
                        <a href="">tag</a>
                        <a href="">tag</a>
                    </h6>
                </div>
            </footer>
        </div>
	</div>

	<!-- Answer -->
	{% for answer in answers %}
	<div class="row">
        <div class="col-sm-12">
            <hr>
            <p>{{answer.description}}</p>
            <div class="row">
                <div class="col-sm-7">
                    <footer>
                        <div class="meta">
                            <h6>
                                <img src="/bootstrap/images/icons/64/902.png">
                                <b><ins>{{ answer.user }}</ins></b>
                                <img src="/bootstrap/images/icons/16/243.png" style="padding-left:10px">
                                {{ answer.create_date }}
                            </h6>
                        </div>
                    </footer>
                </div>
                <div class="col-sm-2" style="padding-top:25px">
                    {% if valid_user %}
                        {% if answer.correct %}
                            <a href="/ask/{{ question.id }}/correct/{{ answer.id }}">
                                <span class="badge alert-success">Correct!</span>
                            </a>
                        {% else %}
                            <a href="/ask/{{ question.id }}/correct/{{ answer.id }}">
                                <span style="border:1px dashed; padding:2px">Correct</span>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if answer.correct %}
                            <span class="badge alert-success">Correct!</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-sm-3" style="padding-top:20px">
                    {% if username %}
                        <a href="/ask/{{ question.id}}/answer/rm_like/{{ answer.id }}/"><img src="/bootstrap/images/icons/32/992.png"></a>
                    {% else %}
                        <img src="/bootstrap/images/icons/32/992-1.png">
                    {% endif %}
                        <b>{{answer.rating}}</b>
                    {% if username %}
                        <a href="/ask/{{ question.id }}/answer/add_like/{{ answer.id }}/"><img src="/bootstrap/images/icons/32/993.png"></a>
                    {% else %}
                        <img src="/bootstrap/images/icons/32/993-1.png">
                    {% endif %}
                </div>
            </div>
        </div>

        <!--<div class="col-sm-2">-->
            <!--<div align="center"><img src="/bootstrap/images/icons/64/902.png"></div>-->
            <!--<a href=""><div align="center"><img src="/bootstrap/images/icons/32/994.png"></div></a>-->
            <!--<div align="center"><b>{{answer.rating}}</b></div>-->
            <!--<a href=""><div align="center"><img src="/bootstrap/images/icons/32/995.png"></div></a>-->
        <!--</div>-->
	</div>
	{% endfor %}

    {% if username %}
	<hr>
    <form action="/ask/add_answer/{{question.id}}/" method="post">
    {% csrf_token %}
	<div class="row">
		<div class="col-sm-12">
            <textarea id="id_description" name="description" placeholder="Enter your answer..." class="form-control" rows="5"></textarea>
			<hr>
		    <div class="row">
				<div class="col-sm-12 text-right">
					<input type="submit" class="btn btn-action" value="ASK!">
				</div>
			</div>
		</div>
	</div>
    </form>
    {% endif %}


    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">

                {% if answers.has_previous %}
                    <li class="arrow"><a href="/ask/{{ question.id }}/page/1">start</a></li>
                    <li class="arrow"><a href="/ask/{{ question.id }}/page/{{ answers.previous_page_number }}">←</a></li>
                {% else %}
                    <li><a>start</a></li>
                    <li><a>←</a></li>
                {% endif %}

                {% for page in answers.paginator.page_range %}
                    {% if page == answers.number %}

                        {% if answers.has_previous %}
                            <li><a href="/ask/{{ question.id }}/page/{{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a></li>
                        {% endif %}

                        <li class="current"><a href=""><b>{{ page }}</b></a></li>

                        {% if answers.has_next %}
                            <li><a href="/ask/{{ question.id }}/page/{{ answers.next_page_number }}">{{ answers.next_page_number }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endfor %}

                {% if answers.has_next %}
                    <li class="arrow"><a href="/ask/{{ question.id }}/page/{{ answers.next_page_number }}">→</a></li>
                    <li class="arrow"><a href="/ask/{{ question.id }}/page/{{ answers.paginator.num_pages }}">end</a></li>
                {% else %}
                    <li><a>→</a></li>
                    <li><a>end</a></li>
                {% endif %}
            </ul>
        </div>
	</div>


    <!--<div class="row text-center">-->

    <!--<div class="col-lg-12">-->
        <!--<ul class="pagination">-->
		    <!--<li><a href="#">«</a></li>-->
		    <!--<li><a href="#">1</a></li>-->
		    <!--<li><a href="#">2</a></li>-->
		    <!--<li><a href="#">3</a></li>-->
		    <!--<li><a href="#">4</a></li>-->
		    <!--<li><a href="#">»</a></li>-->
        <!--</ul>-->
    <!--</div>-->

	<!--</div>-->

{% endblock %}