<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Progressus - Free business bootstrap template by GetTemplate</title>

	<link rel="shortcut icon" href="/bootstrap/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/bootstrap/css/main.css">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap-tag-cloud.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/bootstrap/js/html5shiv.js"></script>
	<script src="/bootstrap/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button>

				<a class="navbar-brand" href="/"><img src="/bootstrap/images/icons/64/481.png" alt="Progressus HTML5 template">Ask people!</a>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav pull-right">
                    <li>
                        <form class="navbar-form navbar-left" role="search" style="padding-right:10px">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                    </li>

                    {% if user_id %}
                    <li class="active"><a class="btn" href="/new_ask/">ASK!<img src="/bootstrap/images/icons/32/569.png"></a></li>
                    <li><a href="/register/">Register</a></li>
					<li><a href="/log_out/">log Out</a></li>
                    <li><a href="/profile/{{ user_id }}/">Settings (<b><ins>{{ username }}</ins></b>)</a></li>
                    <li style="margin-top:-8px"><img src="/bootstrap/images/icons/64/228.png"></li>
                    {% else %}
                    <li><a href="/log_in/">log In</a></li>
                    <li><a href="/register/">Register</a></li>
                    {% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- container -->
	<div class="container" style="padding-top:100px">

		<div class="row">

			<!-- Article main content -->
			<article class="col-md-8 maincontent">

				{% block index %}{% endblock %}
				{% block ask %}{% endblock %}
				{% block profile %}{% endblock %}
				{% block log_in %}{% endblock %}
				{% block register %}{% endblock %}
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-right">
				<div class="row widget">
                    <h3 align="center"><img src="/bootstrap/images/icons/64/546.png">Popular Tags</h3>
                    <p align="center" style="padding:0px">
                        {% for tag in tags %}
                            {% if tag.count > 25 %}
                                <a href=""><font size="10">{{ tag }}</font></a>
                            {% elif tag.count < 15 %}
                                <a href=""><font size="3">{{ tag }}</font></a>
                            {% else %}
                                <a href=""><font size="6">{{ tag }}</font></a>
                            {% endif %}
                        {% endfor%}
                    </p>

				</div>

				<div class="row widget">
						<h3 align="center"><img src="/bootstrap/images/icons/64/746.png">Best Users</h3>
                        {% for user in best_users %}
                            <h4 align="center"><img src="/bootstrap/images/icons/32/911.png"><ins>{{ user.user.username }}</ins></h4>
                        {% endfor%}
				</div>


			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
		

	<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<b><a href="/"><img src="/bootstrap/images/icons/32/973.png"> Home</a></b> | 
								<a href="/log_in/">Log In</a> |
								<a href="/register/">Register</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right" style="padding-top:8px">
								Copyright &copy; 2014, Timofeeva Marina.
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/bootstrap/js/headroom.min.js"></script>
	<script src="/bootstrap/js/jQuery.headroom.min.js"></script>
	<script src="/bootstrap/js/template.js"></script>
    <script src="/bootstrap/js/bootstrap-tag-cloud.js"></script>
</body>
</html>