{% extends  'base.html' %}

{% block index %}

	<div class="tabbable">
 		<ul class="nav nav-tabs">
 			{% if is_new_sort %}
            <li><a href="/">Hot Questions</a></li>
            <li class="active"><a href="/new/">New Questions</a></li>
            {% else %}
            <li class="active"><a href="/">Hot Questions</a></li>
            <li><a href="/new/">New Questions</a></li>
            {% endif %}
  		</ul>
	</div>

    {% for question in questions %}
    <div class="row" style="padding-top:10px">
        <div class="col-md-2">
            <div align="center"><img src="/bootstrap/images/icons/64/902.png"></div>
            {% if username %}
                <a href="/ask/add_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/994.png"></div></a>
            {% else %}
                <div align="center"><img src="/bootstrap/images/icons/32/994-1.png"></div>
            {% endif %}
            <div align="center"><b>{{ question.rating }}</b></div>
            {% if username %}
                <a href="/ask/rm_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/995.png"></div></a>
            {% else %}
                <div align="center"><img src="/bootstrap/images/icons/32/995-1.png"></div>
            {% endif %}
        </div>

        <div class="col-md-10">
            <div>
                <a href="/ask/{{question.id}}/"><h3 style="margin-top:10px">{{ question.title }}</h3></a>
            </div>
            <p style="padding:5px">{{ question.description }}</p>

            <footer>
                <div class="meta">
                    <h6>
                    <a href="/ask/{{question.id}}/" ><b>Answers({{ question.answer_set.count }}) </b></a>
                    <img src="/bootstrap/images/icons/16/723.png" style="padding-left:10px">
                    <b><ins>{{ question.user }}</ins></b>
                    <img src="/bootstrap/images/icons/16/243.png" style="padding-left:10px">
                    {{ question.create_date }}
                    {% if question.tags.all %}
                        <img src="/bootstrap/images/icons/16/535.png" style="padding-left:10px">Tags:
                        {% for tag in question.tags.all %}
                            <a href=""><ins>{{ tag }}</ins></a>
                        {% endfor %}
                    {% endif %}
                    </h6>
                </div>
            </footer>
        </div>
    </div>
    {% endfor %}

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">

                {% if questions.has_previous %}
                    <li class="arrow"><a href="/page/1">start</a></li>
                    <li class="arrow"><a href="/page/{{ questions.previous_page_number }}">←</a></li>
                {% else %}
                    <li><a>start</a></li>
                    <li><a>←</a></li>
                {% endif %}

                {% for page in questions.paginator.page_range %}
                    {% if page == questions.number %}

                        {% if questions.has_previous %}
                            <li><a href="/page/{{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
                        {% endif %}

                        <li class="current"><a href=""><b>{{ page }}</b></a></li>

                        {% if questions.has_next %}
                            <li><a href="/page/{{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endfor %}

                {% if questions.has_next %}
                    <li class="arrow"><a href="/page/{{ questions.next_page_number }}">→</a></li>
                    <li class="arrow"><a href="/page/{{ questions.paginator.num_pages }}">end</a></li>
                {% else %}
                    <li><a>→</a></li>
                    <li><a>end</a></li>
                {% endif %}
            </ul>
        </div>
	</div>

{% endblock %}