{% extends  'base.html' %}

{% block index %}

	<div class="tabbable">
 		<ul class="nav nav-tabs">
            <li><a href="/">Hot Questions</a></li>
            <li class="active"><a href="/new/">New Questions</a></li>
  		</ul>
	</div>

    {% for question in questions %}
    <div class="row" style="padding-top:10px">
        <div class="col-md-2">
            <div align="center"><img src="/bootstrap/images/icons/64/902.png"></div>
            {% if username %}
                <a href="/ask/add_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/994.png"></div></a>
            {% else %}
                <div align="center"><img src="/bootstrap/images/icons/32/994-1.png"></div>
            {% endif %}
            <div align="center"><b>{{question.rating}}</b></div>
            {% if username %}
                <a href="/ask/rm_like/{{question.id}}/"><div align="center"><img src="/bootstrap/images/icons/32/995.png"></div></a>
            {% else %}
                <div align="center"><img src="/bootstrap/images/icons/32/995-1.png"></div>
            {% endif %}
        </div>

        <div class="col-md-10">
            <div>
                <a href="/ask/{{question.id}}/"><h3 style="margin-top:10px">{{question.title}}</h3></a>
            </div>
            <p style="padding:5px">{{question.description}}</p>

            <footer>
                <div class="meta">
                    <h6><b><ins>{{ question.user }}</ins></b>
                    <img src="/bootstrap/images/icons/16/243.png" style="padding-left:10px">
                    {{ question.create_date }}
                   <img src="/bootstrap/images/icons/16/535.png" style="padding-left:10px">Tags:
                        <a href="">tag</a>
                        <a href="">tag</a>
                        <a href="">tag</a>
                    </h6>
                </div>
            </footer>
        </div>
    </div>
    {% endfor %}

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">

                {% if quest.has_previous %}
                    <li class="arrow"><a href="/page/1">start</a></li>
                    <li class="arrow"><a href="/page/{{ quest.previous_page_number }}">←</a></li>
                {% else %}
                    <li><a>start</a></li>
                    <li><a>←</a></li>
                {% endif %}

                {% for page in quest.paginator.page_range %}
                    {% if page == quest.number %}

                        {% if quest.has_previous %}
                            <li><a href="/page/{{ quest.previous_page_number }}">{{ quest.previous_page_number }}</a></li>
                        {% endif %}

                        <li class="current"><a href=""><b>{{ page }}</b></a></li>

                        {% if quest.has_next %}
                            <li><a href="/page/{{ quest.next_page_number }}">{{ quest.next_page_number }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endfor %}

                {% if quest.has_next %}
                    <li class="arrow"><a href="/page/{{ quest.next_page_number }}">→</a></li>
                    <li class="arrow"><a href="/page/{{ quest.paginator.num_pages }}">end</a></li>
                {% else %}
                    <li><a>→</a></li>
                    <li><a>end</a></li>
                {% endif %}
            </ul>
        </div>
	</div>

{% endblock %}