{% extends  'base.html' %}

{% block ask %}
			
	<header class="page-header">
		<h1 class="page-title">New Question</h1>
	</header>

	<form action="/new_ask/add_ask/" method="post">
    {% csrf_token %}

        {% if add_ask_error %}
            <span class="badge alert-danger">{{ add_ask_error }}</span>
        {% endif %}

		<div class="row top-margin">
			<div class="col-sm-2">
				<h4>Title</h4>
			</div>
			<div class="col-sm-10">
				<input id="id_title" name="title" class="form-control" type="text" placeholder="Type your question here...">
			</div>
		</div>

		<div class="row top-margin">
			<div class="col-sm-12">
				<textarea id="id_description" name="description" placeholder="Describe your question here..." class="form-control" rows="9"></textarea>
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-2">
				<h4>Tags</h4>
			</div>
            <div class="col-sm-10">
            	<input id="id_name" name="name" class="form-control" type="text" placeholder="tags">
            </div>
		</div>

		<hr>
		<div class="row">
			<div class="col-sm-12 text-right">
				<input class="btn btn-action" type="submit" value="Ask!">
			</div>
		</div>
	</form>
	
	<section class="container-full top-space">
		<div id="map"></div>
	</section>
	
{% endblock %}